:root{
  --main-color: #01a79d;
  --second-color: #f2f2f2;
  --bg-footer-color: #656565; 

}

*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--second-color);

}

a{
  color: var(--second-color);
}

a:hover{
  color: var(--second-color-color);
  opacity: 0.5;
  -ms-transform: scale(1.5); 
  transform: scale(1.5);
  transition: ease-in-out;
}

.bg-color-main{
  background-color: var(--main-color);
}

.bg-color-second{
  background-color: var(--second-color);
}

#logo {
  width: 168px;
  height: 168px;
}

#welcome{
  height: 276px;
}

.tracer{
  height: 1px;
  width: 130px;
  border-radius: 50%;
  background-color: var(--second-color);
}

#new{  
  height: 138px;
}

.color-main{
  color: var(--main-color)
}

#photos{
  height: 316px;
}

.photo{
  width: 285px;
  height: 190px;
}

footer{
  background-color: var(--bg-footer-color);
  height: 39px;
}

@media (max-width: 768px) {
  #photos {
    height: auto;
    flex-direction: column;
  }
  #photos > figure{
    margin: 0 !important;
  }
}